<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Motiiv</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/images/motiivwhite.png" rel="icon">
  <link href="static/images/icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Grandstander&family=Padauk&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="static/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="static/vendor/line-awesome/css/line-awesome.min.css" rel="stylesheet">
  <link href="static/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="static/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="static/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/css/style.css" rel="stylesheet">
  <!-- icon set -->
  <script src="https://kit.fontawesome.com/5eaee9b5e7.js" crossorigin="anonymous"></script>
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center  header-transparent ">
    <div class="container d-flex align-items-center">

      <div class="logo mr-auto">
        <!-- <h1 class="text-light"><a href="index.html">Motiiv</a></h1> -->
        <!-- Uncomment below if you prefer to use an image logo -->
        <a href="index.html"><img src="static/images/motiivwhite.png" alt="" class="img-fluid"></a>
      </div>
      {% include 'base/navbar.html' %}


    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-end align-items-center">
    <div id="heroCarousel" class="container carousel carousel-fade" data-ride="carousel">

      <!-- Slide 1 -->
      <div class="carousel-item active">
        <div class="carousel-container">
          <h2 class="animate__animated animate__fadeInDown">Are you ready for <span>Motiiv?</span></h2>
          <!-- <h2 class="animate__animated fanimate__adeInUp">Excited for our application launch?</h2> -->
          <!-- <p class="animate__animated fanimate__adeInUp">Get ready for our app launch!</p> -->
          <div class="countdown">
            <div id="day">NA</div>
            <div id="hour">NA</div>
            <div id="minute">NA</div>
            <div id="second">NA</div>
          </div>

          <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Discover</a>
        </div>
      </div>

      <!-- Slide 2 -->
      <!-- <div class="carousel-item">
        <div class="carousel-container">
          <h2 class="animate__animated animate__fadeInDown">Lorem Ipsum Dolor</h2>
          <p class="animate__animated animate__fadeInUp">Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.</p>
          <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
        </div>
      </div> -->

      <!-- Slide 3 -->
      <!-- <div class="carousel-item">
        <div class="carousel-container">
          <h2 class="animate__animated animate__fadeInDown">Sequi ea ut et est quaerat</h2>
          <p class="animate__animated animate__fadeInUp">Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.</p>
          <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
        </div>
      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon bx bx-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon bx bx-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a> -->

    </div>

    <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28 " preserveAspectRatio="none">
      <defs>
        <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z">
      </defs>
      <g class="wave1">
        <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)">
      </g>
      <g class="wave2">
        <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)">
      </g>
      <g class="wave3">
        <use xlink:href="#wave-path" x="50" y="9" fill="#fff">
      </g>
    </svg>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title" data-aos="zoom-out">
          <h2>About</h2>
          <p>Who we are</p>
        </div>

        <div class="row content" data-aos="fade-up">
          <div class="col-lg-6">
            <p>
              Motiiv is the social media for experiences. Find people who share the same interests as you in your area and embark on experiences together. Invite your friends, meet new friends just like you and create meaningful friendships.
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i>The more you use Motiiv, the more you can create your own friendship group, with better tailored experiences to go on.</li>
              <li><i class="ri-check-double-line"></i> Motiiv also uses your own existing friendship group to help create a true social circle for you. Invite your own friends and ‘friends of friends’ to your experiences to get to know people in your own social circle better.</li>
              <!-- <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat</li> -->
            </ul>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p>
              Motiiv is the social media for experiences. Remember, friendships are made off common interests and experiences, so Motiiv recommends people based on your interests, and then experiences for which these friendships can be made. Think of it like online dating – but for friends!
            </p>
            <a href="#" class="btn-learn-more">Learn More</a>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
      <div class="container">
        <ul class="nav nav-tabs row d-flex">
          <li class="nav-item col-3" data-aos="zoom-in">
            <a class="nav-link active show" data-toggle="tab" href="#tab-1">
              <i class="fas fa-paw"></i>
              <h4 class="d-none d-lg-block">Be Creative 	&#128584;</h4>
            </a>
          </li>
          <li class="nav-item col-3" data-aos="zoom-in" data-aos-delay="100">
            <a class="nav-link" data-toggle="tab" href="#tab-2">
              <i class="fas fa-piggy-bank"></i>
              <h4 class="d-none d-lg-block">Save Money &#129297;</h4>
            </a>
          </li>
          <li class="nav-item col-3" data-aos="zoom-in" data-aos-delay="200">
            <a class="nav-link" data-toggle="tab" href="#tab-3">
              <i class="fas fa-users"></i>
              <h4 class="d-none d-lg-block">Upgrade your social circle &#128165;</h4>
            </a>
          </li>
          <li class="nav-item col-3" data-aos="zoom-in" data-aos-delay="300">
            <a class="nav-link" data-toggle="tab" href="#tab-4">
              <i class="fas fa-icons"></i>
              <h4 class="d-none d-lg-block">Online experiences 	&#128064;</h4>
            </a>
          </li>
        </ul>

        <div class="tab-content" data-aos="fade-up">
          <div class="tab-pane active show" id="tab-1">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                <h3>Don't be afraid to unleash that unique charismatic side of yours!</h3>
                <br>
                <p>
                  Motiiv is the social media for experiences. Use Motiiv to create your own experiences and invite people of your age, interests, and social circle (i.e friends of friends). 
                </p>
                  Create the things you’d love to and embark on these experiences with people just like you. You canGo crazy with the events ‘Motiiv’s that you want to host, be it:
                  <ul>
                    <li><i class="ri-check-double-line"></i>themed cocktail parties </li>
                    <li><i class="ri-check-double-line"></i>football and pub crawl</li>
                    <li><i class="ri-check-double-line"></i>video-game tournaments</li>
                    <li><i class="ri-check-double-line"></i>themed dinners – the list is as endless as your creativity!</i>
                  </ul>
                <p>
                  Bottom line, invite people you like, people you know and people just like you and create everlasting friendships.
                </p>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center iframes-content">
                <iframe src="https://giphy.com/embed/P2Y5CA2lJRmDbUux8T" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-2">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                <h3>Cash strapped? Motiiv got your back with some cheap thrills!</h3>
                <br>
                <p>
                Motiiv has exclusive deals with vendors across your city, to bring you the best deals for vendor-hosted events. It works in your favour too, because you are going with 15+ people that you would know as opposed to going with a couple of friends! Hence leveraging group discounts! So, save money and meet new people!
                </p>
                <p>
                  Vendors can enquire to be part of Motiiv to increase their revenues. Please use the vendor contact form to get in touch, so we can help you increase business.
                </p>
                <ul>
                  <li><i class="ri-check-double-line"></i> The more people you bring in the less you pay!</li>
                  <li><i class="ri-check-double-line"></i> Exclusive deals available in your area!</li>
                  <!-- <li><i class="ri-check-double-line"></i> Student discounts!</li> -->
                  <li><i class="ri-check-double-line"></i> Huge perks for our subscribing members!</li>
                </ul>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center iframes-content">
                <iframe src="https://giphy.com/embed/h0MTqLyvgG0Ss" width="480" height="365" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-3">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                <h3>We believe in taking you out of your comfort zone!</h3>
                <br>
                <p><strong>DO NOT LISTEN TO SCHMIDT!!!</strong></p>
                <p>
                  Remember, friendships are made off common interests and experiences, so Motiiv recommends people based on your interests, and then experiences for which these friendships can be made. Think of it like online dating – but for friends!
                  The more you use Motiiv, to more you can create your own friendship group, with better tailored experiences to go on.
                </p>
                <!-- <ul>
                  <li><i class="ri-check-double-line"></i> The more you use Motiiv, to more you can create your own friendship group, with better tailored experiences to go on.</li>
                  <li><i class="ri-check-double-line"></i> We'll match you with people that share your interests!</li>
                  <li><i class="ri-check-double-line"></i> Motiiv, because no great story started with a salad.</li>
                </ul> -->
                <p>
                  Motiiv also uses your own existing friendship group to help create a true social circle for you. Invite your own friends and ‘friends of friends’ to your experiences to get to know people in your own social circle better.
                </p>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center iframes-content">
              <iframe src="https://giphy.com/embed/l3vR3ofBUxfNhu22Y" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-4">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                <h3>Get to know &#34; Your kind of people! &#34; 	&#128064;</h3>
                <br>
                <p>
                  Motiiv has a two-chat system for experiences, making sure you get to know your people before going to an experience, much like dating apps! Stay in touch with your social circles through live messaging
                </p>
                <p class="font-italic">
                  After going on experiences and events, review your friends and followers to ensure people all around are better for future events. Motiiv helps you meet the best people, who share your interests, and let you get to know them before your common experiences begin! The more you use Motiiv, the more we recommend people just like you, and experiences to go on!
                </p>
                <ul>
                  <li><i class="ri-check-double-line"></i> Every user goes through an identificationa and verification process to put safety forward.</li>
                  <!-- <li><i class="ri-check-double-line"></i> Having a peace of mind will help you enjoying life better!</li> -->
                  <li><i class="ri-check-double-line"></i> We have partnered with the police and have included a panic button in case of an emergency.</li>
                </ul>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center iframes-content">
            <iframe src="https://giphy.com/embed/113PoJxEaRxKbm" width="480" height="387" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>
    <!-- End Features Section -->

    <!-- ======= Cta Section ======= -->
    <!-- <section id="cta" class="cta">
      <div class="container">

        <div class="row" data-aos="zoom-out">
          <div class="col-lg-9 text-center text-lg-left">
            <h3>Call To Action</h3>
            <p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
          <div class="col-lg-3 cta-btn-container text-center">
            <a class="cta-btn align-middle" href="#">Call To Action</a>
          </div>
        </div>

      </div>
    </section> -->
    <!-- End Cta Section -->

    <!-- ======= Services Section ======= -->
    <!-- <section id="services" class="services">
      <div class="container">

        <div class="section-title" data-aos="zoom-out">
          <h2>Features</h2>
          <p>What you can expect</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="icon-box" data-aos="zoom-in-left">
              <div class="icon"><i class="las la-basketball-ball" style="color: #ff689b;"></i></div>
              <h4 class="title"><a href="">Lorem Ipsum</a></h4>
              <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mt-5 mt-md-0">
            <div class="icon-box" data-aos="zoom-in-left" data-aos-delay="100">
              <div class="icon"><i class="las la-book" style="color: #e9bf06;"></i></div>
              <h4 class="title"><a href="">Dolor Sitema</a></h4>
              <p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-5 mt-lg-0 ">
            <div class="icon-box" data-aos="zoom-in-left" data-aos-delay="200">
              <div class="icon"><i class="las la-file-alt" style="color: #3fcdc7;"></i></div>
              <h4 class="title"><a href="">Sed ut perspiciatis</a></h4>
              <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mt-5">
            <div class="icon-box" data-aos="zoom-in-left" data-aos-delay="300">
              <div class="icon"><i class="las la-tachometer-alt" style="color:#41cf2e;"></i></div>
              <h4 class="title"><a href="">Magni Dolores</a></h4>
              <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-5">
            <div class="icon-box" data-aos="zoom-in-left" data-aos-delay="400">
              <div class="icon"><i class="las la-globe-americas" style="color: #d6ff22;"></i></div>
              <h4 class="title"><a href="">Nemo Enim</a></h4>
              <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mt-5">
            <div class="icon-box" data-aos="zoom-in-left" data-aos-delay="500">
              <div class="icon"><i class="las la-clock" style="color: #4680ff;"></i></div>
              <h4 class="title"><a href="">Eiusmod Tempor</a></h4>
              <p class="description">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi</p>
            </div>
          </div>
        </div>

      </div>
    </section> -->
    <!-- End Services Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container">

        <div class="section-title" data-aos="zoom-out">
          <h2>Our Journey</h2>
          <p>What our users loved 	&#128571;</p>
        </div>

        <!-- <ul id="portfolio-flters" class="d-flex justify-content-end" data-aos="fade-up"> -->
          <!-- <li data-filter="*" class="filter-active">All</li> -->
          <!-- <li data-filter=".filter-app">App</li>
          <li data-filter=".filter-card">Card</li>
          <li data-filter=".filter-web">Web</li> -->
        <!-- </ul> -->

        <div class="row portfolio-container" data-aos="fade-up">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-img"><img src="{% static 'images/portfolio/brumescape.jpeg' %}" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Escape Live Birmingham</h4>
              <p>Constitution Hill, Birmingham B19 3LY</p>
              <a href="assets/img/portfolio/portfolio-1.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="App 1"></a>
<!--               <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-plus"></i></a> -->
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-img"><img src="{% static 'images/portfolio/halloween.jpeg' %}" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Halloween Night</h4>
              <p>Harbone</p>
              <a href="assets/img/portfolio/portfolio-3.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="App 2"></a>
<!--               <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-plus"></i></a> -->
            </div>
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-img"><img src="{% static 'images/portfolio/cocktail.jpeg' %}" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Cocktails Party</h4>
              <p>UOB- Chamberlain</p>
              <a href="assets/img/portfolio/portfoli2.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="Web 3"></a>
<!--               <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-plus"></i></a> -->
            </div>
          </div>


          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-img"><img src="{% static 'images/portfolio/socials.jpeg' %}" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Nights like these!</h4>
              <p>Bournbrook</p>
              <a href="assets/img/portfolio/portfolio-4.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="Card 2"></a>
<!--               <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-plus"></i></a> -->
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-img"><img src="{% static 'images/portfolio/image-asset.jpeg' %}" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Everything Britain</h4>
              <p>Selly Oak</p>
              <a href="assets/img/portfolio/portfolio-5.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="Web 2"></a>
<!--               <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-plus"></i></a> -->
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-img"><img src="{% static 'images/portfolio/paintball.jpg' %}" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Delta Force Paintball</h4>
              <p>Next to Juntion4 of the M42</p>
              <a href="assets/img/portfolio/portfolio-6.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="App 3"></a>
<!--               <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-plus"></i></a> -->
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-img"><img src="{% static 'images/portfolio/bournbrook.jpeg' %}" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Football with the lads!</h4>
              <p>UOB</p>
              <a href="assets/img/portfolio/portfolio-7.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="Card 1"></a>
<!--               <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-plus"></i></a> -->
            </div>
          </div>

          <!-- <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-img"><img src="{% static 'images/portfolio/portfolio-8.jpg' %}" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Card 3</h4>
              <p>Card</p>
              <a href="assets/img/portfolio/portfolio-8.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="Card 3"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div> -->

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-img"><img src="{% static 'images/portfolio/jenga.jpeg' %}" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Jenga Night</h4>
              <p>Oakland</p>
              <a href="assets/img/portfolio/jenga.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="Web 3"></a>
<!--               <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-plus"></i></a> -->
            </div>
          </div>

        </div>

      </div>
    </section>
    <!-- End Portfolio Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container">

        <div class="section-title" data-aos="zoom-out">
          <h2>Testimonials</h2>
          <p>What they are saying about us</p>
        </div>

        <div class="owl-carousel testimonials-carousel" data-aos="fade-up">

          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Met the guys at motiiv during their promotional campaign at UOB. Very down to earth and easy going people. Amazing idea and I cannot wait for their app to launch!
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <img src="{% static 'images/testimonials/port1.jpg' %}" class="testimonial-img" alt="">
            <h3>Sara Coleman</h3>
            <h4>Student at the university of Birmingham</h4>
          </div>

          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              I share an office with the people at motiiv. I can see how much work they put in everyday, they are always the first ones there and the last ones to leave. Cannot wait!
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <img src="{% static 'images/testimonials/port3.jpg' %}" class="testimonial-img" alt="">
            <h3>Tyrone Olatula</h3>
            <h4>Fellow Exchange Startup Associate</h4>
          </div>

          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Became aware of motiiv through their promotional campaign on campus. The presentation they gave us was amazing as well as the free pizzas! Excited to try it out!
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <img src="{% static 'images/testimonials/port2.jpg' %}" class="testimonial-img" alt="">
            <h3>Jena Karlis</h3>
            <h4>Student at the university of Birmingham</h4>
          </div>

          <!-- <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <img src="{% static 'images/testimonials/testimonials-4.jpg' %}" class="testimonial-img" alt="">
            <h3>Ash Hull</h3>
            <h4>Freelancer</h4>
          </div>

          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <img src="{% static 'images/testimonials/testimonials-5.jpg' %}" class="testimonial-img" alt="">
            <h3>Ben Jakinoff</h3>
            <h4>Entrepreneur</h4> -->
          </div>

        </div>

      </div>
    </section>
    <!-- End Testimonials Section -->

    <!-- ======= Pricing Section ======= -->
    <!-- <section id="pricing" class="pricing">
      <div class="container">

        <div class="section-title" data-aos="zoom-out">
          <h2>Pricing</h2>
          <p>Our Competing Prices</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="box" data-aos="zoom-in">
              <h3>Free</h3>
              <h4><sup>$</sup>0<span> / month</span></h4>
              <ul>
                <li>Aida dere</li>
                <li>Nec feugiat nisl</li>
                <li>Nulla at volutpat dola</li>
                <li class="na">Pharetra massa</li>
                <li class="na">Massa ultricies mi</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Buy Now</a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-4 mt-md-0">
            <div class="box featured" data-aos="zoom-in" data-aos-delay="100">
              <h3>Business</h3>
              <h4><sup>$</sup>19<span> / month</span></h4>
              <ul>
                <li>Aida dere</li>
                <li>Nec feugiat nisl</li>
                <li>Nulla at volutpat dola</li>
                <li>Pharetra massa</li>
                <li class="na">Massa ultricies mi</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Buy Now</a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-4 mt-lg-0">
            <div class="box" data-aos="zoom-in" data-aos-delay="200">
              <h3>Developer</h3>
              <h4><sup>$</sup>29<span> / month</span></h4>
              <ul>
                <li>Aida dere</li>
                <li>Nec feugiat nisl</li>
                <li>Nulla at volutpat dola</li>
                <li>Pharetra massa</li>
                <li>Massa ultricies mi</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Buy Now</a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-4 mt-lg-0">
            <div class="box" data-aos="zoom-in" data-aos-delay="300">
              <span class="advanced">Advanced</span>
              <h3>Ultimate</h3>
              <h4><sup>$</sup>49<span> / month</span></h4>
              <ul>
                <li>Aida dere</li>
                <li>Nec feugiat nisl</li>
                <li>Nulla at volutpat dola</li>
                <li>Pharetra massa</li>
                <li>Massa ultricies mi</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Buy Now</a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section> -->
    <!-- End Pricing Section -->

    <!-- ======= F.A.Q Section ======= -->
    <section id="faq" class="faq">
      <div class="container">

        <div class="section-title" data-aos="zoom-out">
          <h2>F.A.Q</h2>
          <p>Frequently Asked Questions</p>
        </div>

        <ul class="faq-list">

          <li data-aos="fade-up" data-aos-delay="100">
            <a data-toggle="collapse" class="" href="#faq1">When will motiiv launch? <i class="icofont-simple-up"></i></a>
            <div id="faq1" class="collapse show" data-parent=".faq-list">
              <p>
                We are working tirelessly everyday behind the scenes be be ready for the launch of motiiv, which will be through a mobile application. You can find a countdown at the very top of the website.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="200">
            <a data-toggle="collapse" href="#faq2" class="collapsed">What is Motiiv? <i class="icofont-simple-up"></i></a>
            <div id="faq2" class="collapse" data-parent=".faq-list">
              <p>
                Motiiv is a social platform based around experienced and events (called Motiiv’s). It lets you quickly and easily let friends know about social events you are planning to go to and who you would like to invite to share the experiences with you! 
              </p>
              <p>
                As well as this, Motiiv’s comprehensive list of experiences means that you can meet new people over common interests based on the experience itself. For example, Liverpool footballers arranging an 11 a side game, paintballing fanatics joining together to save money on a paintball event or even theatre lovers arranging a trip to the West End! 
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="300">
            <a data-toggle="collapse" href="#faq3" class="collapsed">Why would I use Motiiv? <i class="icofont-simple-up"></i></a>
            <div id="faq3" class="collapse" data-parent=".faq-list">
              <p>
                Motiiv benefits our users in the following ways: 
                <ul>
                  <li>Motiiv allows new people or friends to meet together and save money through utilising group discounts, as opposed to paying individually for the same event! </li>
                  <li>Motiiv allows users to create social events and let their friends and friends of friends know about the event! For example events include (but are not limited to): house parties, five a side football games, bar crawls, society meets etc.</li>
                  <li>Motiiv allows the more extroverted to meet new people over common interests – i.e. meet new people over interests such as theatre, adrenaline events or even interests over events with a theme e.g. Game of Thrones marathon night.</li>
                </ul>
              </p>
            </div>
          </li>
          
          <li data-aos="fade-up" data-aos-delay="400">
            <a data-toggle="collapse" href="#faq4" class="collapsed">How does the two group chat system work when I’m interested in a Motiiv?
              <i class="icofont-simple-up"></i></a>
            <div id="faq4" class="collapse" data-parent=".faq-list">
              <p>
                Motiiv uses two group chats and they work in the following system: 
              </p>
              <p>
                The first group chat allows the group to get to know each other briefly as well as find out generic information about the event i.e. who’s going, the amount of discount available, if any extra equipment/travel is necessary as well as the price. It also allows the Motiiv leader to kick anyone who’s being unfair/rude. 
                The second group chat is then used to finalise details such as the specific location to meet up, to know your ‘finalised’ group a bit more as well as more confidential information. This is also where Motiiv steps in and finalises the deal with the vendor and handles any custom requests. As a result of the confidentiality, the second group chat can only be accessed once the Motiiv has been paid for.
              </p>
              <p>
                N.B. For free “Motiiv’s” such as house parties, the two group chat process still exists, however the portal is free to enter once the Motiiv leader deems the Motiiv ready to be finalised.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="500">
            <a data-toggle="collapse" href="#faq5" class="collapsed">How do I save money through using Motiiv’s group feature?
              <i class="icofont-simple-up"></i></a>
            <div id="faq5" class="collapse" data-parent=".faq-list">
              <p>
              For many experiences, in fact almost all of the ones that we list, firms offering these services will offer discounts due to people going as a group. Going with 20 other people guarantees a far greater service per person as opposed to gong with two others. We’ve reached out to all the firms in our app and established these deals beforehand using our positive relations with the firms. 
              </p>
              <p>
              However, while this seems good, there is always the issue of trying to find people who are free to join you on an event! Motiiv through its two-system group chat and event social platform, also helps to solve this! 
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="600">
            <a data-toggle="collapse" href="#faq6" class="collapsed">How do I create my own Motiiv?
              <i class="icofont-simple-up"></i></a>
            <div id="faq6" class="collapse" data-parent=".faq-list">
              <p>
                <ol>
                  <li>Click the icon <span>(insert icon)</span> to create your own experience. </li>
                  <li>Fill in the information that we require for your own Motiiv, for example the activity, whether it is public, friends and their friends or just friends as well as the location.</li>
                  <li>If it is a vendor activity (I.e. not free) let us confirm the amount of discounted based on the number of people you would like to go with.</li>
                  <li>We’ll then let you know when the Motiiv is on the platform through a notification!</li>
                </ol>
              </p>
            </div>
          </li>
          <li data-aos="fade-up" data-aos-delay="700">
            <a data-toggle="collapse" href="#faq7" class="collapsed">Why can I review people and the event after I have been on the experience? 
              <i class="icofont-simple-up"></i></a>
            <div id="faq7" class="collapse" data-parent=".faq-list">
              <p>
                We strive to make sure all Motiiv’s are the best they can possibly be. 
              </p>
              <p>
                As a result, while this means reviews of the actual activities are important as a gauge, we also believe that by reviewing people – this helps the Motiiv become more enjoyable. 
              </p>
              <p>
                If people are reviewed, then this means those who provide an amazing time and are accommodating will have more five star reviews, and hence are more likely to be invited to other Motiivs. While on the other hand, those that are deemed to engage in socially unacceptable behaviour, (i.e. being mean, not turning up to an event) would be reviewed accordingly, allowing future Motiiv leaders and groups to take this into consideration. 
              </p>
            </div>
          </li>
          <li data-aos="fade-up" data-aos-delay="800">
            <a data-toggle="collapse" href="#faq8" class="collapsed">I would like to create a Motiiv but the categories in your list don’t best sum up the experience. What do I do?<i class="icofont-simple-up"></i></a>
            <div id="faq8" class="collapse" data-parent=".faq-list">
              <p>
                Send us an email at niaz.caan@motiiv.co.uk and we will rectify this!
              </p>
            </div>
          </li>
          <li data-aos="fade-up" data-aos-delay="900">
            <a data-toggle="collapse" href="#faq9" class="collapsed">Why sometimes I can just buy tickets directly instead of joining a group chat? <i class="icofont-simple-up"></i></a>
            <div id="faq9" class="collapse" data-parent=".faq-list">
              <p>
                University societies’ often will not offer a discount based on a group event, and instead offer a discount on a per person basis simply by partnering with Motiiv. 
              </p>
              <p>
                As a result, this leads to the platform to allow you to access the group chat directly by purchasing the ticket directly. (As in the university society – the common interest is the university itself.)
              </p>
              <p>
                Please note, for university societies’, the ticket and ticket receipt is sent to your university email (e.g. bham.ac.uk) in order to ensure only those who are part of the correct university can attend the event.
              </p>
            </div>
          </li>
          <li data-aos="fade-up" data-aos-delay="1000">
            <a data-toggle="collapse" href="#faq10" class="collapsed">I can’t seem to grasp how to use the app. What should I do?
              <i class="icofont-simple-up"></i></a>
            <div id="faq10" class="collapse" data-parent=".faq-list">
              <p>
                Have a look at the tutorial again here – alternatively if you have specific issues get in touch with us at help@motiiv.co.uk
              </p>
            </div>
          </li>
          <li data-aos="fade-up" data-aos-delay="1100">
            <a data-toggle="collapse" href="#faq11" class="collapsed">I am part of a University society and want to list my events on Motiiv. How do I get in touch?
              <i class="icofont-simple-up"></i></a>
            <div id="faq11" class="collapse" data-parent=".faq-list">
              <p>
                Get in touch by sending an email with your proposal to niaz.caan@motiiv.co.uk
              </p>
            </div>
          </li>
          <li data-aos="fade-up" data-aos-delay="1200">
            <a data-toggle="collapse" href="#faq12" class="collapsed">I have a business and want to be on Motiiv. How do I get in touch?              <i class="icofont-simple-up"></i></a>
            <div id="faq12" class="collapse" data-parent=".faq-list">
              <p>
                Get in touch by sending an email with your proposal to niaz.caan@motiiv.co.uk
              </p>
            </div>
          </li>
          <li data-aos="fade-up" data-aos-delay="1300">
            <a data-toggle="collapse" href="#faq13" class="collapsed">Is Motiiv expanding to other cities soon? 
              <i class="icofont-simple-up"></i></a>
            <div id="faq13" class="collapse" data-parent=".faq-list">
              <p>
                Following our first city (trial run) Birmingham, we will then expand to other cities in the UK including London, Edinburgh and Manchester. From there we intend to concentrate our efforts in major cities in the UK as well as major cities in the US. 
              </p>
            </div>
          </li>
          <li data-aos="fade-up" data-aos-delay="1400">
            <a data-toggle="collapse" href="#faq14" class="collapsed">I have a question not listed here. What should I do?
              <i class="icofont-simple-up"></i></a>
            <div id="faq14" class="collapse" data-parent=".faq-list">
              <p>
                Get in touch with us at help@motiiv.co.uk and we’ll do our absolute best to help you! 
              </p>
            </div>
          </li>
<!--
          <li data-aos="fade-up" data-aos-delay="500">
            <a data-toggle="collapse" href="#faq5" class="collapsed">Tempus quam pellentesque nec nam aliquam sem et tortor consequat? <i class="icofont-simple-up"></i></a>
            <div id="faq5" class="collapse" data-parent=".faq-list">
              <p>
                Nique ta mere.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="600">
            <a data-toggle="collapse" href="#faq6" class="collapsed">Tortor vitae purus faucibus ornare. Varius vel pharetra vel turpis nunc eget lorem dolor? <i class="icofont-simple-up"></i></a>
            <div id="faq6" class="collapse" data-parent=".faq-list">
              <p>
                Nique ta mere.
              </p>
            </div>
          </li> -->

        </ul>

      </div>
    </section>
    <!-- End F.A.Q Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
      <div class="container">

        <div class="section-title" data-aos="zoom-out">
          <h2>Team</h2>
          <p>Our Hardworking Team</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="member" data-aos="fade-up">
              <div class="member-img">
                <img src="{% static 'images/team/niaaz_adobespark.png' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Niaaz Caan</h4>
                <span>CEO</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="{% static 'images/team/snapshane.png' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Kavish Muthoora</h4>
                <span>CTO</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 ">
            <div class="member" data-aos="fade-up" data-aos-delay="200">
              <div class="member-img">
                <img src="{% static 'images/team/ed-removebg.png' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Edoardo Bassett</h4>
                <span>Technical Advisor</span>
              </div>
            </div>
          </div>

          <!-- <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="300">
              <div class="member-img">
                <img src="assets/img/team/team-4.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Amanda Jepson</h4>
                <span>Accountant</span>
              </div>
            </div>
          </div> -->

        </div>

      </div>
    </section><!-- End Team Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title" data-aos="zoom-out">
          <h2>Contact</h2>
          <p>Contact Us</p>
        </div>

        <div class="row mt-5">

          <div class="col-lg-4" data-aos="fade-right">
            <div class="info">
              <div class="address">
                <i class="icofont-google-map"></i>
                <h4>Location:</h4>
                <p>
                  Motiiv
                  Elevate at the Exchange
                  3 Centenary Square
                  Birmingham,
                  B1 2DR
                </p>
              </div>

              <div class="email">
                <i class="icofont-envelope"></i>
                <h4>Email:</h4>
                <p>niaz.caan@motiiv.co.uk</p>
              </div>

              <div class="phone">
                <i class="icofont-phone"></i>
                <h4>Call:</h4>
                <p>+44 789768999899</p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0" data-aos="fade-left">

            <form id="contact-form" action="/" method="post" role="form" class="php-email-form">
              {% csrf_token %}
              <div class="form-row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validate"></div>
                </div>
                <div class="col-md-6 form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" id="contact-message" name="message" rows="5" data-rule="required" data-msg="Your message cannot be empty!" placeholder="Please write something for us"></textarea>
                <div class="validate"></div>
              </div>
              <div class="mb-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>

          </div>

        </div>

      </div>
    </section>
    <!-- End Contact Section -->

  </main>
  <!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <h3>Motiiv</h3>
      <p>“The social media for experiences”</p>
      <div class="social-links">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <!-- <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a> -->
      </div>
      <div class="copyright">
        &copy; Copyright <strong><span>Motiiv</span></strong>. All Rights Reserved.
      </div>
      <div class="credits">
        Designed by <a href="https://bootstrapmade.com/">Shane Nex</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>

  <!-- Vendor JS Files -->
  <script src="static/vendor/jquery/jquery.min.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="static/vendor/php-email-form/validate.js"></script>
  <script src="static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/vendor/venobox/venobox.min.js"></script>
  <script src="static/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="static/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="static/js/main.js"></script>

</body>

</html>
